<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formulaire</title>
</head>
<body>
    <h1>exple du formulaire</h1>
    <form action="" method="">
        <p>
            <label for="nom">Nom : </label>
            <input type="text" name="nom" id="nom">
        </p>
        <p>
            <label for="mdp">Mot de passe : </label>
            <input type="password" name="mdp" id="mdp">
        </p>
        <p>
            <label for="email">E-mail : </label>
            <input type="email" name="email" id="email">
        </p>
        <p>
            <label for="materiel">Choix Materiel:</label>
            <select name="choix materiel" id="materiel">
                <option value="Switch">Switch</option>
                <option value="Serveur">Serveur</option>
                <option value="Routeur">Routeur</option>
                <option value="Carte Arduino">Carte Arduino</option>
            </select>
        </p>
        <p>
            <label for="commentaire">Commentaire: </label>
            <p>
           <textarea name="commentaire" id="commentaire" rows="6" cols="50"></textarea>
            </p>
        </p>
    </form>

</body>
</html>